@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: sans-serif;
  background: #222831;
  color: white;
  min-height: 80vh;
}
header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-items: center;
  justify-content: center;

}
/* ========== Menu ==========*/
header {
  font-family: "sans-serif";
  justify-content: space-between;
  position: fixed;
  z-index: 10000;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  box-shadow: 0 5px 10px 7px white;
}
#logo {
  width: 50px;
  transition: 0.3s;
}
#logo:hover {
  transform: scale(1.2);
}
nav {
  justify-content: space-between;
  width: 40%;
}
nav a {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  padding: 1em 2em;
  border: 1px solid transparent;
  border-radius: 0.3em;
  transition: 0.3s;
}
nav a:hover {
  border: 1px solid #f05454;
}

/* ========== Hero Section ==========*/
section {
  width: 100%;
  height: 100vh;
}
/* ========== Footer ==========*/
footer {
  color: white;
  background: black;
  padding: 5px;
}


/*-------------выше не трогать-----------------*/
.wrapper{
  width: 500px;
  padding: 40px 30px 50px 30px;
  margin-top: 100px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
}
.wrapper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}

form .field.shake{
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}

form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}

form input{
  width: 80%;
  height: 100%;
  outline: none;
  padding: 0px 45px 0px 45px;
  font-size: 18px;
  background: none;
  caret-color: royalblue;
  border-radius: 5px;
  border: 2px solid #bfbfbf;
  transition: all 0.2s ease;
}

form .field input:focus, form .field.valid input{
  border-color: royalblue;
}

form .field.shake input, form .field.error input{
  border-color: red;
}

.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}

.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}

.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}

form input:focus ~ .icon, form .field.valid .icon{
  color: #5372F0;
}

form .field.shake input:focus ~ .icon, form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}

form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}

form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}

form .field .error{
  display: none;
}

form .field.shake .error, form .field.error .error{
  display: block;
}

form .pass-txt{
  text-align: left;
  margin-top: -10px;
}

.wrapper a{
  color: royalblue;
  text-decoration: none;
}

.wrapper a:hover{
  text-decoration: underline;
}

form input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: royalblue;
  cursor: pointer;
  transition: all 0.3s ease;
}
form input[type="submit"]:hover{
  background:darkblue;
}
h1{
  color: black;
  font-size: 30px;
}

@media (max-width: 800px) {

  section {
    width: 100%;
    height: 230vh;
  }
}
